---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  
<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-urv5r5scuelg" 
 data-ad-width   = "320" 
 data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>

  {{ content }}
  
<ins class="kakao_ad_area" style="display:none;" 
     data-ad-unit    = "DAN-to52er017jvq" 
     data-ad-width   = "320" 
     data-ad-height  = "100"></ins> 
    <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>
    {% include footer.html %}
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
